.logo > img {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  padding-left: 5px;
}

.logo > h1 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

#page, #bookmark {
  width: 50%;
  min-width: 130px;
  padding: 0.8rem;
  border: 2px solid;
  text-align: center;
  font-size: 20px;
}

.randomPagesContainer > li {
  padding: 15px 0px 10px 40px;
  font-size: 30px;
}
